html {
    font-family: "Ubuntu", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

.ubuntu-700 {
    font-family: "Ubuntu", sans-serif !important;
    font-weight: 700 !important;
    font-style: normal;
}

.btn-primary {
    background-color: #308aff;
    color: white;
    border: 0;
    text-align: center;

    font-family: "Ubuntu", sans-serif !important;
    font-weight: 500 !important;
    font-style: normal !important;
}

.btn-primary:hover {
    background-color: #2469c2 !important;
    color: white;
}

.btn-reddit
{
    background-color: #c22424 !important;
}

.btn-reddit:hover
{
    background-color: #9b1919 !important;
}

.btn-github
{
    background-color: #7c7fb3 !important;
}

.btn-github:hover
{
    background-color: #666995 !important;
}

.image-button {
    display: block;
    width: 50%;
    height: 20vh;
    max-height: 600px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.image-button:hover {
    filter: brightness(1.1);
    transform: scale(1.1);
}

.card video {
    filter: brightness(0.3);
    transition: filter 0.3s ease-in-out;
}

.card-body {
    transition: opacity 0.3s ease-in-out;
}

.card:hover video {
    filter: brightness(1);
}